:root{
    --HEADER-H1-FONT: 'Cinzel', serif; 
    
    --MAIN-FONT-INTER: 'Inter', sans-serif;
    
    --MAIN-FONT-ROMAN: 'EB Garamond', serif;
    
    --FONT-COLOR: white;
}

body {
    background-color: rgb(35, 35, 35);
    padding: 75px 50px 0px 70px;
    margin: 0px;
    height: 150vh;
}


/* HEADER CSS CODE */

h1 {
    font-family: var(--HEADER-H1-FONT);
    color: var(--FONT-COLOR);
    font-size: 12px;
}

#headercontainer1 {
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* MAIN CSS CODE */


/* MAIN CLASSES + ID'S */

.interfont {
    font-family: var(--MAIN-FONT-INTER);
}

.romanfont {
    font-family: var(--MAIN-FONT-ROMAN);
    font-weight: 100;
}

.cinzelfont {
    font-family: var(--HEADER-H1-FONT);
}


/* MAIN SECTION 1 CODE */

#maincontainer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
    height: 1100px;
}

#mainitem1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mainitem1 img{
    margin-top: 50px;
    height: 500px;
    width: 500px;
}

#mainitem1 figcaption{
    margin-left: 120px;
}


/* MAIN SECTION 2 CODE */

.certifcate {
    height: 500px;
    width: 650px;
}

#maincontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 1400px;
}

#mainitem2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

#mainitem3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* MAIN SECTION 3 CODE */

#maincontainer3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1300px;
}

#maincontainer3 figcaption{
    margin-left: 100px;
}

#mainitem4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#mainitem5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-sizing1 {
    height: 300px;
    width: 500px;
}

#logo-sizing2 {
    height: 300px;
    width: 400px;
}

.logo-sizing3 {
    height: 300px;
    width: 300px;
}

.figcaption-sizing1 {
    padding-left: 75px;
}

#figcaption-sizing2 {
    padding-left: 65px;
}

.figcaption-sizing3 {
    padding-right: 30px;
}

#github-username {
    margin-left: 300px;
}


/* MAIN SECTION 4 CODE */

#maincontainer4 {
    display: flex;
    flex-direction: column;
}

.language-logo-sizing {
    height: 50px;
    width: 50px;
}

.language-logo-sizing2 {
    height: 50px;
    width: 75px;
}

.language-logo-sizing3 {
    height: 50px;
    width: 60px;
}

.language-logo-sizing4 {
    height: 50px;
    width: 70px;
}


/* MAIN CODE */

main {
    color: var(--FONT-COLOR);
}

table {
    font-family: var(--HEADER-H1-FONT);
}

table, th, td {
    border: 1px solid white;
    width: 1000px;
    font-size: 15px;
}

th, td {
    padding: 10px;
}

th {
    background-color: var(--FONT-COLOR);
    color: black;
}

p {
    font-size: 25px;
}

li {
    margin-top: 35px;
    font-size: 25px;
}

ul {
    margin: 0px 0px 50px 0px;
}


/* MAIN SUDO CLASSES */

a:link {
    color: #FFDE59;
    text-decoration: none;
}

a:visited {
    color: #FFDE59;
    text-decoration: none;
}

a:hover {
    color: #ffb259;
    text-decoration: underline;
}

a:active {
    color: #ffb259;
    text-decoration: none;
}