:root{
    --HEADER-H1-FONT: 'Cinzel', serif; 
    
    --MAIN-FONT-INTER: 'Inter', sans-serif;
    
    --MAIN-FONT-ROMAN: 'EB Garamond', serif;
    
    --FONT-COLOR: white;
}

body {
    background-color: rgb(35, 35, 35);
    padding: 75px 50px 0px 70px;
    margin: 0px;
    height: 150vh;
}


/* HEADER CSS CODE */




/* MAIN CSS CODE */



