:root{
    --HEADER-H1-FONT: 'Cinzel', serif; 
    
    --MAIN-FONT-INTER: 'Inter', sans-serif;
    
    --MAIN-FONT-ROMAN: 'EB Garamond', serif;
    
    --FONT-COLOR: white;
}

body {
    background-color: rgb(35, 35, 35);
    padding-top: 75px;
    margin: 0px;
}

/* HEADER CSS CODE */

h1 {
    font-family: var(--HEADER-H1-FONT);
    color: var(--FONT-COLOR);
    font-size: 12px;
}

#headercontainer1 {
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* MAIN CSS CODE */


/* MAIN CLASSES + ID'S */

#maincontainer1 {
    height: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.interfont {
    font-family: var(--MAIN-FONT-INTER);
}

.romanfont {
    font-family: var(--MAIN-FONT-ROMAN);
    font-weight: 100;
}

/* MAIN CODE */

span {
    font-size: 18px;
    font-family: var(--MAIN-FONT-INTER);
}

ol {
    color: var(--FONT-COLOR);
    font-size: 75px;
    line-height: 50px;
}

li {
    list-style-type: none;
}

img {
    height: 800px;
    width: 800px;
}


/* MAIN SUDO CLASSES */

a:link {
    text-decoration: none;
    color: var(--FONT-COLOR);
}

a:visited {
    color: var(--FONT-COLOR);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.500);
    text-decoration: none;
}

a:active {
    color: rgba(0, 0, 0, 0.750);
}

