:root{
    --HEADER-H1-FONT: 'Cinzel', serif; 
    --MAIN-FONT-INTER: 'Inter', sans-serif;
    --MAIN-FONT-ROMAN: "Times New Roman", Times, serif;
}


/* HEADER CSS CODE */



/* MAIN CSS CODE */



/* FOOTER CSS CODE */