:root{
    --HEADER-H1-FONT: 'Cinzel', serif; 
    
    --MAIN-FONT-INTER: 'Inter', sans-serif;
    
    --MAIN-FONT-ROMAN: 'EB Garamond', serif;
    
    --FONT-COLOR: white;
}

body {
    background-color: rgb(35, 35, 35);
    padding: 75px 50px 0px 70px;
    margin: 0px;
    height: 150vh;
}


/* HEADER CSS CODE */

h1 {
    font-family: var(--HEADER-H1-FONT);
    color: var(--FONT-COLOR);
    font-size: 12px;
}

#headercontainer1 {
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* MAIN CSS CODE */

/* MAIN CLASSES + ID'S */



