:root{
    --HEADER-H1-FONT: 'Cinzel', serif; 
    
    --MAIN-FONT-INTER: 'Inter', sans-serif;
    
    --MAIN-FONT-ROMAN: 'EB Garamond', serif;
    
    --FONT-COLOR: white;
}

body {
    background-color: rgb(35, 35, 35);
    padding: 75px 50px 0px 70px;
    margin: 0px;
    height: 150vh;
}


/* HEADER CSS CODE */

h1 {
    font-family: var(--HEADER-H1-FONT);
    color: var(--FONT-COLOR);
    font-size: 12px;
}

#headercontainer1 {
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* MAIN CSS CODE */

/* MAIN CLASSES + ID'S */

.interfont {
    font-family: var(--MAIN-FONT-INTER);
}

.romanfont {
    font-family: var(--MAIN-FONT-ROMAN);
    font-weight: 100;
}

.cinzelfont {
    font-family: var(--HEADER-H1-FONT);
}


/* MAIN SECTION 1 */

#maincontainer1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
}


/* MAIN SECTION 2 */

#maincontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#mainitem1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
}

#mainitem1 h2{
    margin: 0px;
}

/* MAIN SECTION 3 */




/* MAIN CSS CODE */

main {
    color: var(--FONT-COLOR);
}

table, th, td {
    border: 1px solid white;
    width: 1000px;
    font-size: 15px;
}

th, td {
    padding: 10px;
}

th {
    background-color: var(--FONT-COLOR);
    color: black;
}

p {
    font-size: 25px;
}

h2 {
    font-size: 35px;
}

img {
    height: 300px;
    width: 350px;
    margin-left: 100px;
    margin-top: 20px;
}

/* MAIN SUDO CLASSES */

a:link {
    color: #FFDE59;
    text-decoration: none;
}

a:visited {
    color: #FFDE59;
    text-decoration: none;
}

a:hover {
    color: #ffb259;
    text-decoration: underline;
}

a:active {
    color: #ffb259;
    text-decoration: none;
}